body {
  max-width: 1250px;
  margin: 0 auto;
  

}

/*Ajoute la color  sur tout la page pour voir inperfection */
html{ background-color: rgb(12, 12, 12);   }

/*Place laimge du background */
.main_page{  
  background-image: url("Man_working.png");
  background-repeat: no-repeat;
  background-position: 90% 0%;
  background-color: #2292f5;
 }

/*Propriete du Menu au cntre*/
.menu_centre{ max-width:  800px;width:500px; }

/*Propriete du NavBar */
.navbar {
  background-color: rgba(4, 84, 170, 0.2);
  align-items: center;
  height: 80px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.navbar a {
  display: flex;
  height: 100%;
  text-decoration: none;
  color: white;
  align-items: center;
  padding: 0 15px;
}
/*On click change color */
.navbar a:hover { background-color: #0067c7; }

/*Postione le logo du menu */
.logo_navbar { width: 200px;margin-left: 30px;}

.menu_centre {
  display: flex;
  margin-left: 100px;
  height: 100%;
}
.searche_button_icons {
  display: flex;
  margin-right: 30px;
  margin-left: auto;
  align-items: center;
}
.menu_button{    
  background-color: transparent;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 5px;
  color: white;
  font-size: 15px;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 10px 25px;  
}
/*Place l icon reacher*/
.icon_recherche { height: 20px; margin-right: 20px;}

/*Place l icone user qui est sur le button*/
.icon_user{height: 20px; margin-left: 20px;}

/*Place le text qui es dans le main */
.containaire_we_make_magic{
  color: white;
  height: 600px;
  text-align: left;
  padding-left:110px;
  padding-top: 100px;
  width: 400px;
}

/*Modifie le text dans le main qui es dans H1*/
.containaire_we_make_magic h1 {  font-weight: 800; font-size: 5.0em; }

/*Modifie le text dans le main qui es dans p*/
.containaire_we_make_magic p {  line-height: 1.7;  font-size:20px; margin-bottom: 80px;}

/*Postione le button qui dans le container we make magic */
.containaire_we_make_magic a { text-decoration: none;color: white;font-weight: normal;  border: 1px solid white;  border-radius: 5px;  padding: 20px 60px 20px 60px; }

/*Postione le te containaire */
.containaire_whatdowe{   background-color:  white;  padding: 5% 0;}

/*Postione le H1 et modifie la coleur  */
.containaire_whatdowe h1{  font-size: 1.9em; color:black;  text-align:center;  font-weight: 600; }

/*Postione le P et modifie la coleur  */
.containaire_whatdowe p{  font-family:"Roboto" ,sans-serif;  font-size: 1.9em; color:#808080;;  text-align:center;   font-size: 1.3em;  padding: 2% 8%;  }


/*Postione le conainaire of 4 */

  .container_of_four {
    margin: 0;
    max-width: 1300px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 2fr 2fr;
    /*grid-template-rows: 70vh 70vh;*/
    /*grid-auto-rows: minmax(100px, auto);*/
    width:100%;
  }





/*Postione le premier container of $*/
.frist_container{   background-color:  #0172d9;padding: 12% 0;padding-left: 80px;}

/*Postione le H1 du prmier containaire  et change sa color */

.frist_container h1{ color:white; font-size: 2.2em; padding-top: 0px; padding-right: 50px; padding-bottom: 0px; padding-left: 80px;}

/*Postione le P du prmier containaire  et change sa color */
.frist_container p{   padding-top: 0px; padding-right: 50px; padding-bottom: 0px; padding-left: 80px; line-height: 1.7;  color:white; font-size:1.1em;  }

/*Postione image de droite*/
.postione_image_right{ 	   zoom: 0.2; background-size: cover;	background-image: url(img_1_RIGHT.png); }

/*Postione image de lefte */
.postione_image_left{	

   background-image: url(img_LEft_bas.png);
   background-color: #0067c7;

    background-repeat: no-repeat;
    background-position: center;
  }


/*Postione le container du quatriem box */
.quatrime_container{  background-color:  #0172d9; padding: 12% 0;padding-right: 120px;padding-left: 80px;text-align:centre;}
/*Postione H1 et modifie le texte */
.quatrime_container h1{ font-size: 1.9em; color:white;  text-align:left;  font-weight: 600;}

/*Postione p et modifie le texte */
.quatrime_container p{  line-height: 1.7;  color:white; font-size:1.1em; text-align:left; }




/* NEEDED STYLES */
label {
  display: flex;    
  color:white;
  cursor: pointer;
  font-size: 1.2em;

  transition: ease .5s;
  position: relative;

  border-bottom: 1.3px solid #b8ddff;
  padding-bottom: 20px;
  padding-top: 10px;
  justify-content: space-between;
}

label::after {
  content: '+';
  font-size: 22px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 2px;
  color:white;
}

input:checked + label::after {
  content: '-';
  right: 14px;
  top: 3px;
}

.content {
color: white;
}

input + label + .content {
display: none;
}

input:checked + label + .content {
display: block;
}
/*Cahche cechbox*/
input {
display: none;
}

  

/*Le container formulaire*/
.container_formulaire
{ 
    background-color: rgb(255, 255, 255);  
     padding: 5% 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
  
}

.image_woman{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #DFF0FF;
  border-radius: 4px;
 padding-left: 30px;
 padding-right: 30px;
 padding-top: 20px;
 padding-bottom: 20px;
 margin-left:50%

   
}

.image_woman p{font-size:1.3em; display: flex;  align-items: flex-start; }

.image_womanbox_2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #edeff1;
  border-radius: 4px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;

  margin-top:4%;
  margin-left:50%;
  color:blue
  

}

/*Postione le containaire  footer */
.containaire_footer_do_you{    padding: 7% 2%;background-color:  #f4f4f4; border: 1px solid #f4f4f4;text-align: center; font-size:1.6em;  }

/*Modifie le text dasn H1 */
.containaire_footer_do_you h1{ color:black; font-size:1.0em; margin-bottom: 50px; }

/*Postione le button qui se trouve dasn container footer do yo */
.containaire_footer_do_you button { background-color: #007ef3;  color:white; font-weight: normal;  border: 1px solid white;  border-radius: 5px;  padding: 20px 60px 20px 60px; }


/*Postione le container  footer ou sont les icons */
.containaire_footer_icons{  padding: 50px; background-color:  white;  border: 1px solid #f4f4f4;  text-align: center;  letter-spacing: 20px; }

/*Postione le container footer de logo b system */
.containaire_footer_b_system{ padding: 100px;  background-color:   white; border: 1px solid #f4f4f4; text-align:center; }
.tweeter_icon{ margin-bottom: -15px;}

/*Metre le logo en noir */
/*.filter-black{filter: invert(48%) sepia(79%) saturate(0%) hue-rotate(86deg) brightness(69%) contrast(1000%);}*/

