
* {
    box-sizing: border-box;
}
html{
    padding: 0;
    margin: 0;
    background-color: black;
}
img{
    max-width:100%;
}
.container-we-make{
    grid-template-columns: 1fr 1fr;
    display: grid;
    flex-direction: row;
    font-size: 20px;
    text-align: center;
  }
  .container-we-make a  {
    text-decoration: none;
    color:white;
    font-weight: normal;  
    border: 1px solid white;  
    border-radius: 5px;  
    padding: 10px 50px 10px 50px;
    display: inline-block;
    font-size: 15px; 
 }
 /* CONTAINER HOW WE START */
  .flex-container_How_We{
    display: grid;
    flex-direction: row;
    font-size: 10px;
    text-align: center;
    grid-template-columns: 1fr 1fr;
  }
  .flex-item-left-how_we{
    background-color: #007ef3;
    text-align: left;
    font-size: 15px;
    padding-left: 60px;
    padding-right:50px ;
    padding-top: 40px;
    color:white; 
  }/* CONTAINER HOW WE END */

  .container_WorkingTable{
    display: grid;
    flex-direction: row;
    font-size: 10px;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    background-color: #0067c7;
  }
.put-pading-on-image{
    padding: 10%;
}
  .container_Formulaire{
    display: grid;
    flex-direction: row;
    font-size: 10px;
    text-align: center;
    grid-template-columns: 1fr 1fr;
  }
  .flex-item-left {
   padding-top: 30%;
   padding-left: 30%;
   padding-right: 2%;
   background-color:#007ef3;
   color:white;
   text-align: left;
  }
  .flex-item-right {
    background-color: #007ef3;
  }
  /*Modifie container ours values*/
  .container_ours_values{
      background-color:#007ef3 ;
  }
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color:black;
}
main,
footer,
header {
    display: flex;
    width: 100%;
    max-width: 1000px;
}
header {
    align-items: center;
    justify-content: space-between;
    min-height: 10px; 
   /* background: rgba(25, 0, 250, 0.1);*/
   background-color: #007ef3;
}
.containaire_whatdowe{
    background-color: white;
    
}
.containaire_whatdowe> h1  {
    display: flex;
    justify-content:center;
}
.containaire_whatdowe >p {
    font-family:"Roboto" ,sans-serif; 
     font-size: 1.9em; 
     color:#808080;  
     text-align:center;  
      font-size: 1.3em;  
      padding: 2% 8%; 
}
main {
    flex-direction: column;
    background: white;
    padding: 0;
    flex: 1;
}
footer {
    min-height: 80px
    color: white;
    background: rgb(245, 6, 6);
    padding: 20px;
}
.logo {
    display: flex;
    align-items: center;
    height: 100px;
    z-index: 7;
}
/* Style le  menu */
.menu {
    display: flex;
    list-style-type: none;
    background:#03fa4d
    white-space: nowrap;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}
.menu > li > a {
    padding: 0 20px;
    color:white;
    display: flex;
    align-items: center;
}
.menu > li > a:hover {
    background-color:#0067c7;
}
header {
    padding: 0 20px;
}

/* Style le  menu */

.menu {
    justify-content: flex-end;
}

.menu > li > a {
    height:  100px;
    text-decoration: none;
}
/* Cahcher = the_check */
#the_check,
#the_check + label {
    display: none;
}

/* A MODIFIE */
/*Postione le container  footer ou sont les icons */
.containaire_footer_icons  { 
     padding: 30px; 
     background-color:white;  
     border: 1px solid #f4f4f4; 
      justify-content:center;  
      letter-spacing: 1rem; 
    }
.containaire_footer_icons a{
    color:black;
}
/*Postione le containaire  footer */
.containaire_footer_do_you{
    /*display: flex;*/
    padding: 7% 2%
    ;background-color:  
    #f4f4f4; 
    border: 1px solid #f4f4f4; 
    /*justify-content: center; */
    text-align: center;
    font-size:1.6em;  
}

/*Modifie le text dasn H1 */
.containaire_footer_do_you h1{ 
    color:black; 
    font-size:1.0em; 
    margin-bottom: 50px;
 }
/*Postione le button qui se trouve dasn container footer do yo */
.containaire_footer_do_you button 
{ 
    text-align: center;
    background-color: #007ef3;  
    color:white;   
    border: 1px solid ; 
    border-radius: 5px; 
     padding: 10px 50px 10px 50px;
     display: inline-block;
     font-size: 15px; 
}
.button_footer{
    justify-content: left;
}
.containaire_footer_b_system{
     padding: 100px;  
     background-color:   
     white;
      border: 1px solid #f4f4f4; 
      justify-content: center; 
    }

/* Settings just pour  mobile  */

@media screen and (max-width: 768px) {
 
    img{
        max-width:100%;
    }
    .container-we-make {
        display: flex;
        flex-direction: column-reverse;
        grid-template-columns: 1fr;
    }
    .flex-container_How_We{
        display: flex;
        flex-direction: column-reverse;
    }
    .container_WorkingTable{

        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
    }
    .flex-item-left-how_we{
        padding-left: 20px;
        padding-right: 80px;
        padding-bottom: 40px;
    }
    .container_Formulaire{
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
    }
    /*Modifie la colors du container ours values quand il est mode responsive*/
    .container_ours_values{
        background-color:#0067c7;
    }
    /* Enleve le pading lorsque responsive*/
    .flex-item-left {
        padding:0;
        padding-bottom:50px ;
        text-align: center;
     }
    .logo {
        width: 100%;
        justify-content: center;
        position:absolute;
        align-items: baseline;
        top:40px;
    }
    /* Montre le the_check */
    #the_check,
    #the_check + label {
        position: absolute;
        display: flex;
        align-items: center;
        height:  100px;
        top: 0;
        width: 20%;
        font-size: 30px;
    }
    /* Stylizing the_check  */
    #the_check {
        opacity: 0;
        z-index: 9;
        cursor: pointer;
    }
    #the_check + label > img,
    #the_check + label > span {
        position: absolute;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: white;
        transition: .3s;
        z-index: 2;
        left: 20px;
    }
    #the_check:not(:checked) + label > img {
        opacity: 0;
        transform: scale(0.01, 0.01);
    }
    #the_check:checked + label > img {
        transition-delay: .3s;
    }
    #the_check:checked + label > span {
        opacity: 0;
    }
    /* Stylizing the menu */
    .menu {
        align-items: baseline;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        transition: .3s;
        z-index: 5;
    }
    #the_check:checked ~ .menu {
        margin-top: 100px;
        box-shadow: 0 240px 90px 120px rgba(0, 0, 0, 0.8);
        height: 240px margin-top: 100px;
    }
    #the_check:not(:checked) ~ .menu {
        height:  100px;
        padding: 35px 0 0 25px;
        opacity: 0;
    }
    .menu > li > a,
    .menu > li {
        height:60px;
        width: 100%;
        transition: .3s;
        text-decoration: none;
    }
    #the_check:not(:checked) ~ .menu > li > a,
    #the_check:not(:checked) ~ .menu > li {
        padding: 5px 0;
        height: 5px;
        width: 22px;
    }
    #the_check:not(:checked) ~ .menu > li > a {
        font-size: 5px;
    }
}
